<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="PayPalClientId" value="AbFYUrnIQQuXW7VmrWbSKSGA3v755m2T5oeqnRA3977oFC1ZIASHyLHjU9PMErlMqoi_YqktTBTIyO2H" />
		<add key="PayPalClientSecret" value="EJ8GHSjukdL8JqsHvng1Mf94QbN-Eey66c5jvAaKr0P8Nl4eOdxOiaLj9ZDjN0kBHGu4Rgm3BDETVkII" />
	</appSettings>
	<system.web>
		<authorization>
			<deny users="?"/>
		</authorization>
	</system.web>
</configuration>
