/* Set some basic padding to keep content from hitting the edges */
/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

.gradient-custom {
    /* fallback for old browsers */
    background: #6a11cb;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
}

/* --- Navbar --- */
.navbar {
    background: #438eb9;
    max-height: 7vh;
}

.sidebar {
    width: 95%;
    height: 100%;
    background: #f8f8f8;
    padding: 30px 0px;
    border-style: solid;
    border-color: #cccccc;
    border-width: 0 1px 0 0;
}

/* Main content */
.body-content {
    height: 100vh;
    height: 100vh;
}

.font-11 {
    font-size: 11px;
}

.bg-maroon {
    background-color: #892e65;
}

.dropdown-menu-right {
    left: auto;
    right: -5px;
}