/* Set some basic padding to keep content from hitting the edges */
/* Set widths on the form inputs since otherwise they're 100% wide */
body {
    overflow-x: hidden; /* hide horizontal scrollbar */
}
    
input,
select,
textarea {
    max-width: 280px;
}

.gradient-custom {
    /* fallback for old browsers */
    background: #6a11cb;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
}

/* --- Navbar --- */
.navbar {
    background: #438eb9;
    max-height: 7vh;
}

.navbar-nav .nav-item {
    height: 7vh;
}

.sidebar {
    width: 88%;
    height: 100%;
    background: #f2f2f2;
    border-style: solid;
    border-color: #cccccc;
    border-width: 0 1px 0 0;
}

.sidebar-shortcut {
    background: #fafafa;
    border-bottom: 1px solid #e5e5e5;
}

.sidebar-shortcut .btn {
    width: 41px;
    line-height: 24px;
    border-width: 4px;
    padding: 0px;
}

.sidebar-shortcut .fa {
    font-size: 14px;
}

.btn-success, .btn-success:focus {
    background: #87b87f !important;
    border-color: #87b87f;
}

.btn-info, .btn-info:focus {
    background-color: #6fb3e0 !important;
    border-color: #6fb3e0;
}

.btn-warning, .btn-warning:focus {
    background-color: #ffb752 !important;
    border-color: #ffb752;
}

.btn-danger, .btn-danger:focus {
    background-color: #d15b47 !important;
    border-color: #d15b47;
}

.accordion-button, .accordion-body {
    font-size: 13px;
    background: #f8f8f8;
    padding: 10px 22px;
}

.accordion-button::after { /* Accordian caret arrow*/
    background-size: 13px;
}

.accordion-button.hide-accordion-caret::after,
span.dropdown-toggle::after {
    display: none;
}

.breadcrumb {
    border-bottom: 1px solid #e5e5e5;
    background-color: #f5f5f5;
    min-height: 41px;
    line-height: 40px;
    padding: 0 12px 0 0;
}

/* Main content & Navbar */
.body-content {
    height: 100vh;
}

.font-11 {
    font-size: 11px;
}

.bg-maroon {
    background-color: #892e65;
}

.bg-lightgreen {
    background-color: #9abc32;
}

.bg-lightgreen {
    background-color: #9abc32;
}

.dropdown-menu-right {
    left: auto;
    right: -5px;
}

.fs-badge {
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Dashboard */
.dashboard {
    width: 92%;
}

.dashboard-figures {
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 15vw;
    font-size: 3.5rem;
    font-weight: 700;
    color: #5C5353;
    border-radius: 50%;
    margin-bottom: 1rem;
    background-color: #D9D9D9;
}

.dashboard-text {
    font-size: 1.2rem;
    font-weight: 500;
}

.dashboard-figures-row {
    max-width: 91%;
}